/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* /RESET */

/* TITLE */
h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

img {
    vertical-align: middle;
    height: 50px;
}

/* /TITLE */