/* RESET */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* /RESET */

/* TITLE */
h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

img {
    vertical-align: middle;
    height: 50px;
}

header {
    background-color: white;
    padding: 10px 20px;

}

/* /TITLE */

/* CONTENT */
main {
    border-radius: 10px;
    width: 75%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
}

body {
    background-color: #f6f8f9;
}

/* /CONTENT */

/* BUTTON */
button {
    background-color: white;
    border-radius: 5px;
    border-color: #c9ced3;
    color: #c9ced3;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}

.blue {
    background-color: #47adf1;
    border-color: white;
    color: white;
}

nav {
    padding: 10px 50px;
    border-bottom: solid #f6f8f9 2px;
}

/* /BUTTON */

/* LIST */
section {
    padding: 10px 50px;
}

h3 {
    color: #444851;
}

p {
    color: #4d5159;
    margin: 10px;
}

mark {
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.5rem;
}

.violet {
    background-color: #9c72e4;
}

.green {
    background-color: #64c0a9;
}

.orange {
    background-color: #f29e33;
}

.pink {
    background-color: #d863a1;

}

.acid-yellow {
    background-color: #b0c926;
}

.rounded {
    border-radius: 50%;
    border: solid;
    border-width: thin;
    padding: 2px;
    font-size: 0.5rem;
}

.check {
    color: green;
}

.cross {
    color: red;
}

/* /LIST */